order/****** navigation bar *******/

.navbar-nav li a {
    line-height: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: #3D3D3D;
    line-height: 20px;
    font-weight: bold;
    background-image: none;
    font-family: 'Lato', sans-serif;
    border-radius: 20%;
}
.nav>li>a:focus, .nav>li>a:hover{
    color: #FFFFFF;
    background-color: #3D3D3D;
    text-decoration: none;
    border-radius: 5%;
    font-family: 'Lato', sans-serif;
}
#myNavbar li.active a{
    color: #FFFFFF;
    background-color: #3D3D3D;
    text-decoration: none;
    border-radius: 5%;
    font-family: 'Lato', sans-serif;
}
.nav>li>a{
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 2px;
    font-size: 1.1em;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #C33233;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
}
@media only screen and (max-width:768px) {
    .nav > li > a:focus, .nav > li > a:hover {
        border-radius: 0%;
    }

    .navbar {
        margin-bottom: 0px;
    }
    #navbar_main>div.container{

        padding-left: 0px;
        padding-right: 0px;
    }
}
/****** END navigation bar *******/

/********Typography*******/
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #000000;
    overflow-x: hidden !important;
}


.headings {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: #000000;
    font-size: 30px;
}
a {
    color: #000000;
    text-decoration: none;
}
a:focus, a:hover {
    color: #1c1c1c;
    text-decoration: underline;
}
/********END Typography*******/
/******* Search Box on Homepage******/
.search-block {

    background: #624B91; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#624B91, #BB87FF); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#624B91, #BB87FF); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#624B91, #BB87FF); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#624B91, #BB87FF); /* Standard syntax */
}
.form-controlMain {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #6a6a6a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 45px;
}

.form-controlMain:focus {
    border: none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159, 159, 159, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159, 159, 159, 0.6);
}



.btn-warning {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#949494),to(rgba(28, 28, 28, 0.89)));
    background-image: -webkit-linear-gradient(top,#949494,0, #1C1C1C,100%);
    background-image: -moz-linear-gradient(top,#949494 0,#1C1C1C 100%);
    background-image: linear-gradient(to bottom,#949494 0,#1C1C1C 100%);
    background-repeat: repeat-x;
    border-color: #04160b;
    height: 45px;

    color: #fff;
    background-color: #d0d0d0;

}
.btn-warning:focus, .btn-warning:hover {
    background-color: #eb9316;
    background-position: 0 45px;
    border-color:#e38d13;
    height: 45px;

}
.display-3 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #000;
}
.jumbo_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight:400;
    color: #000;
    margin-bottom: 15px;


}
.dataset_number{
    color:#ffffff;
    background-color: #000000;
    margin: 5px;
    padding:5px;
}
/*.radio-inline input[type=radio] {*/
/*position: inherit;*/
/*}*/
a.hyperlink {
    text-decoration: underline;
    font-weight: normal;
    color: #000000;
    font-size: inherit;
    margin-right:10px;
}
input[id*='field'] {
    margin-right: 10px;
    width: 60%;
}
div.dropdown {
    display: inline-block;}
/******* END Search Box on Homepage******/
/******* Search Box on search result page******/
/*.search-block-2{
background: #c33233;
background: -webkit-radial-gradient(#791c1c, #c33233);
background: -o-radial-gradient(#791c1c, #c33233);
background: -moz-radial-gradient(#791c1c, #c33233);
background: radial-gradient(#791c1c, #c33233);
}*/
a.hyperlink {
    color: #000000;
    text-decoration: underline;
    font-weight: normal;
}

a:hover, a:focus {
    color: #000000;
}
.search-block-2{
    background-color:#C33233 ;
    padding-left:8em;padding-right: 8em;
}

/******* End Search Box on search result page******/
.jumbo_pad{
    padding-left:8em;
    padding-right: 8em;


}

/*******  content*******/
.bg-primary {
    color: #9a9797;
    background-color: #fff;
}
hr.small {
    max-width: 100px;
    border-top: 2px solid  #C33233;
}

.title-homepage{

    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #972528;
    font-size: 18px;

}
.text-primary {
    color: #ffffff;
}

.stats {
    margin-bottom: 30px;
}
.btn-light {
    border-radius: 0;
    color: #ffffff;
    background-color: #1C7F7F;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    /*border: 1px solid grey;
     border-radius: 50%;*/
}
.glyph-color{
    color: #606060;
    margin:20px;
}
.glyph-color:hover{
    color: #000000;
}

.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default>.panel-heading {
    color: #41ffc2;
    background-color: #f5f5f5;
    border-left-color: #c33233;
    border-right-color:#c33233;

}
.panel-heading {
    padding: 10px 15px;
    border-left: 1px solid transparent;
    border-right:  1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*.panel-heading {
    padding: 10px 15px;
    !*check *!
    border: solid 10px yellow ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}*/

.panel > .panel-heading {
    background-image: none;
    border-left: 3px solid #c33233;
    border-right: 3px solid #c33233;
    border-bottom: none;
    border-top: none;
    color: #000000;
    background-color: #F9F7F7;
}
.panel-info>.panel-heading {
    color: #000000;
    background-color: #F9F9F9;

}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.panel-info {
    border-color: #e5e5e5;
}
.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #e5e5e5;
}
.panel-success>.panel-heading {
    /*background-image: none;*/
    border-left: 3px solid #c33233;
    border-right: 3px solid #c33233;
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    background-color: #F9F7F7;
}
.panel-primary {
    border-color: #e5e5e5;

}
.panel-success {
    border-color:  #e5e5e5;
}
.full_panel_bg{

    background-color:  #C33233
}
.panel-primary>.panel-heading {

    border-top-color:transparent ;
}

/*******  END content ******/

/*****chart section********/
.chart{
    background-color: rgba(216, 216, 216, 0.16);
    padding: 50px 0;
}
/***** pilot project******/
.portfolio-item .pilot-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.portfolio-caption {
    width: 281px;
    background-color: #994ACC;
    text-align: center;
    padding: 10px;
    border-top: 3px solid #ffffff;
    margin-bottom: 10px;
    float: right;
}
.portfolio-caption h4 {
    color: #ffffff;
}
.img-responsive {
    display: block;
    max-width: 281px !important;
    height: auto;
    margin: 0 auto;
}
.pilotp{
    padding: 50px 0;

}
.centered {
    display: flex;
    align-items: center;  /* alignment along the y axis*/
    justify-content: center; /* alignment along the x axis*/
    width: 100%;

}
/****END polot project*****/

/*****footer section********/
.footersection{
    background-color: rgba(216, 216, 216, 0.16);
    padding: 50px 0;
    text-align: center;
}
.img-responsivefooter {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.center-block{

    margin: 0 auto;
}
#footer>footer.footerbg {
    background-color: #2f2f2f;
    color: #ffffff;
    padding: 40px 0;
}
.footer-text-lg {
    height: 100px;
}

.footer-text-lg p {
    font-size: 16px;
}

.footer-text-xs p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-text-xs h3 {
    font-size: 24px;
    color: #474748;
}


/*****END footer section********/
/***** Pagination****/
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #313131;
    border-color: #9f9f9f;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #1b1b1b;
    background-color: #f8f8f8;
    border-color: #ddd;
}
/***** End Pagination****/
/**** Advance Search*****/
.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.step {
    border: solid 1px;
    border-color: #eee;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
}
.search-text-md {

    font-size: 1.1em;
    color:#ffffff;
}
.input {
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/* Style for carousel*/
/*.carousel-inner{
    background-image: url("/img/homepage_pics/cardio_ddi.png");
    background-position: center center;
    background-repeat: no-repeat;
    }*/
/*.carousel .item {
    height: 100%;
    background-color: #C33233;
}
.carousel-caption{
    position:static;
}*/
.carousel-indicators {
    position: relative;
    bottom: -370px;
}
div.carousel-content > div > h2,
div.carousel-content > div > h3,
div.carousel-content > div > h4 {
    color: #ffffff;
    line-height: 145%;
    font-family: 'Lato', sans-serif;

}
/*
.carousel-content {
    object-fit: cover;
}*/

/**** Advance Search*****/
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #9f2929;
}
/* Styles for Form*/
.form-control:focus {
    border-color: #e99436;
}
.form-control:focus {
    border-color: #e9bd52;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235, 144, 62, 0.63);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(235, 144, 62, 0.53);
}
/*Feedback*/
.bs-callout {
    padding: 20px;
    border: 1px solid #233120;
    border-left-width: 8px;
    border-radius: 3px;
    margin-bottom: 50px;
}
#footer>footer a {
    color: #ffffff;
}